@import './base/reset';
@import './base/typography';
@import './variables/global';
@import './themes/light';
@import './themes/dark';
@import './themes/blue';

.app,
.app_modal {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.content-page {
  display: flex;
}

.content-wrapper {
  overflow-y: auto;
  flex-grow: 1;

  width: 1%;
  height: calc(100vh - var(--navbar-height));
  padding: 20px 20px 20px 45px;
}
