.primary,
.error {
  color: var(--primary-color);

  .title {
    font: var(--font-l);
  }

  .paragraph {
    font: var(--font-m);
  }
}

.error {
  color: var(--red-light);
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
