.menu {
  position: absolute;
  z-index: var(--dropdown-z-index);

  display: flex;
  flex-direction: column;
  gap: 8px;

  background: var(--dark-bg-redesigned);
}

.item {
  cursor: pointer;

  width: 100%;
  padding: 0 20px;

  color: var(--text-redesigned);

  background: none;
  border: none;
  outline: none;
}
