.button {
  cursor: pointer;
  color: var(--inverted-primary-color);
}

.clear {
  margin: 0;
  padding: 0;

  background: none;
  border: none;
  outline: none;
}

.outlined {
  padding: 6px 15px;
  background: none;
  border: 2px solid var(--inverted-secondary-color);
  border-radius: 5px;
  color: var(--inverted-secondary-color)
}