.sidebar {
  position: relative;
  z-index: var(--sidebar-z-index);

  flex-shrink: 0;

  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));

  background: var(--inverted-bg-color);

  transition: width 0.3s;
}

.switchers {
  position: absolute;
  bottom: 25px;
}

.toggleButton {
  position: absolute;
  right: calc(var(--font-line-l) * -1);
  bottom: var(--font-line-l);
}

.items {
  margin: 20px 0 0 20px;
}

.item {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
}

.icon {
  height: 100%;
  fill: var(--inverted-secondary-color);
}

.link {
  margin-right: -50px;
  opacity: 1;
  transition: all 0.3s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .link {
    pointer-events: none;
    opacity: 0;
  }
}

// redesigned

.sidebar-redesigned {
  width: 220px;
  height: 100%;
  background-color: var(--light-bg-redesigned);
  border-radius: 32px;
}

.logo-redesigned {
  padding-top: 20px;
}
