.sidebar {
  position: relative;

  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));

  background: var(--inverted-bg-color);

  transition: width 0.3s;
}

.switchers {
  position: absolute;
  bottom: 25px;

  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.toggleButton {
  position: absolute;
  right: calc(var(--font-line-l) * -1);
  bottom: var(--font-line-l);
}

.items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0 0 20px;
}

.item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon {
  fill: var(--inverted-primary-color)
}

.link {
  transition: all 0.3s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .link {
    display: none
  }
}