.LIST {
  display: block;
  width: 100%;

  .header-wrapper {
    margin-bottom: 8px;
  }

  .username {
    margin-left: 5px;
  }

  .date {
    margin-left: auto;
  }

  .title {
    margin-bottom: 8px;
  }

  .img {
    width: 100%;
    max-height: 250px;
    margin: 16px 0;
    object-fit: cover;
  }

  .content {
    overflow-y: hidden;
    max-height: 200px;
  }

  .footer {
    margin-top: 16px;
  }
}

.GRID {
  cursor: pointer;
  flex-shrink: 0;
  width: 25%;
  transition: 0.2s;

  .date {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }

  &:hover {
    transform: scale(1.01);
    opacity: 0.8;

    .date {
      display: block;
    }
  }

  .img-wrapper {
    position: relative;
  }

  .img {
    height: 250px;
    margin: auto;
    object-fit: contain;
  }

  .info-wrapper {
    margin-top: 8px;
  }

  .types {
    overflow: hidden;
    width: 130px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .title {
    overflow: hidden;

    width: 65%;
    margin-top: 8px;

    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
