.code-wrapper {
  position: relative;
}

.code {
  overflow: auto;
  padding: 45px 20px 20px;
  background: var(--code-bg);
  border: 1px solid var(--primary-color);
}

.code-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.btn-icon path {
  stroke: var(--primary-color);
}
