.inputWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.input {
  flex-grow: 1;

  color: var(--inverted-secondary-color);

  background: var(--inverted-bg-color);
  border: none;
  border-radius: 6px;
  outline: none;

  &[value] {
    padding-left: 10px;
  }
}

.readonly {
  input[value] {
    opacity: 0.8;
  }
}
