.inputWrapper {
  display: flex;
  gap: 10px;
  align-items: center;

  .label {
    width: 100%;
    max-width: 60px;
  }
}

.input {
  width: 100%;
  max-width: 290px;

  color: var(--inverted-secondary-color);

  background: var(--inverted-bg-color);
  border: none;
  border-radius: 6px;
  outline: none;

  &[value] {
    padding-left: 10px;
  }
}
