.app_theme_blue {
  --bg-color: #2510b1;
  --inverted-bg-color: #f5f4fb;
  --primary-color: #f5f4fb;
  --secondary-color: #2510b1;
  --inverted-primary-color: #2510b1;
  --inverted-secondary-color: #7410b1;

  // skeleton
  --skeleton-color: rgb(255 255 255 / 70%);
  --skeleton-shadow: rgb(143 166 184 / 50%);
}
