.app_theme_dark {
  --bg-color: #222;
  --inverted-bg-color: #f5f5f5;
  --primary-color: #31db8c;
  --secondary-color: #166b43;
  --inverted-primary-color: #166b43;
  --inverted-secondary-color: #31db8c96;
}
