.app.dark {
  --bg-color: #222222;
  --inverted-bg-color: #dddddd;

  --primary-color: #3dfca3;
  --secondary-color: #0aad85;
  --inverted-primary-color: #011b0d;
  --inverted-secondary-color: #044435;
}
