.navbar {
  display: flex;
  align-items: center;

  width: 100%;
  height: var(--navbar-height);
  padding: 20px;

  background: var(--inverted-bg-color);
}

.links {
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.title {
  width: var(--sidebar-width);
  padding-left: 15px;
}
