.button {
  cursor: pointer;
  padding: 8px 16px;
  color: var(--text-redesigned);
  transition: all 0.2s;

  &:hover {
    color: var(--accent-redesigned);
    transition: all 0.2s;
  }
}

.clear {
  margin: 0;
  padding: 0;

  background: none;
  border: none;
  outline: none;
}

.outlined {
  background: none;
  border: 1px solid var(--icon-redesigned);
  border-radius: 16px;
}

.small {
  font: var(--font-m-redesigned);
}

.large {
  font: var(--font-l-redesigned);
}

.extra-large {
  font: var(--font-xl-redesigned);
}

.disabled {
  opacity: 0.5;
}

.full-width {
  width: 100%;
}
