.profile-card {
  width: 100%;
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.data {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.editable {
  border-color: var(--inverted-secondary-color);
}
