.profile-card {
  max-width: 400px;
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.header {
  display: flex;
  justify-content: space-between;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.error {
  text-align: center;
}
