.app-link {
  color: var(--primary-color);
  text-decoration: none;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.inverted-primary {
  color: var(--inverted-primary-color);
}

.inverted-secondary {
  color: var(--inverted-secondary-color);
}
